.supported-by-section {
  background-color: #f5f3ee; /* soft beige */
  padding: 4rem 2rem;
  text-align: center;
}

.supported-by-heading {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  color: #000;
}

.supported-by-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.supported-by-logo-wrapper {
  flex: 1 1 150px;
  max-width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.supported-by-logo {
  width: 100%;
  height: auto;
  background-color: white;
  object-fit: contain;
}
@keyframes flyInUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  opacity: 0;
  animation: flyInUp 1s ease-out forwards;
}
@media screen and (max-width: 1200px) {
  .supported-by-heading {
    font-size: 4.5rem;
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .supported-by-heading {
    font-size: 3.5rem;
    margin-bottom: 2vh;
  }
}